*{
    margin: 0px;
    padding: 0px;
}
.content-bg{
    background-color:#1b1b1b ;
    width: 400px;
    height: 640px;
    background-color: black;
    margin-left: 300px;
    color: rgba(255, 255, 255, 0.699);
    text-align: center;
}
.content-bg img{
    width: 190px;
    height: 300px;
    margin:10px 100px;
}
.content-bg p{
    width: 370px;
    font-size: 12px;
    text-align: left;
    padding:0px 20px;
    font-weight: bold;
    margin: 20px 12px;
}
.content-bg .back-btn{
    background-color: rgb(247, 200, 46);
    color: black;
    width: 60px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
}
.content-bg .buy-now-btn{
    width: 100px;
    height: 40px;
    background-color: #2693f1;
    border-radius: 5px;
    border: 0px;
    color: white;
}

